*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: "Raleway";
}

body {
  position: relative;
}

.background {
  background-color: #1c2431;
  width: 100%;
  height: 450px;
  position: absolute;
  z-index: 0;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.header {
  padding: 24px 24px 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
.header__logo {
  width: 80px;
  height: 24px;
}
.header__navigation {
  flex-basis: 150px;
}
.header__menu {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: "Raleway";
}

@media (min-width: 1024px) {
  .header {
    padding: 50px 190px 40px;
  }
  .header__logo {
    width: 176px;
    height: 52px;
  }
  .header__navigation {
    flex-basis: 250px;
  }
  .header__link {
    font-size: 1.6rem;
    line-height: 1.9rem;
    transition: 0.3s;
    width: 83.3px;
    text-align: center;
  }
  .header__link:hover {
    transform: scale(1.15);
    font-weight: bold;
    text-decoration: underline;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 337px;
  position: relative;
}

.main__intro {
  margin-top: 48px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__image {
  display: block;
  width: 304px;
  height: 225px;
}
.intro__title {
  width: 320px;
  text-align: center;
  font-family: "Raleway";
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.6rem;
  margin-top: 33px;
}
.intro__description {
  width: 296px;
  margin-top: 15px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.intro__start-button {
  margin-top: 32px;
  font-weight: bold;
  cursor: pointer;
  width: 240px;
  height: 48px;
  color: #fff;
  background: linear-gradient(134.79deg, #63e1d9 -42.11%, #34a0cd 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

@media (min-width: 1024px) {
  .main__intro {
    margin-top: 35px;
  }

  .intro__image {
    width: 720px;
    height: 534px;
  }
  .intro__title {
    width: 720px;
    margin-top: 36px;
    font-size: 4rem;
    line-height: 6rem;
  }
  .intro__description {
    width: 589px;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 32px;
  }
  .intro__start-button {
    width: 280px;
    height: 56px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    position: relative;
  }
  .intro__start-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#8adae3, #8adae3);
    transition: opacity 0.3s;
    border-radius: 24px;
    opacity: 0;
  }
  .intro__start-button::after {
    content: "Get Started";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .intro__start-button:hover::before {
    opacity: 1;
  }
}
.main__facts {
  margin-top: 120px;
}

.facts {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-fact {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-fact__image {
  width: 80px;
}
.single-fact__title {
  margin-top: 24px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "Raleway";
  font-weight: bold;
}
.single-fact__description {
  margin-top: 8px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.1rem;
}

.single-fact:nth-of-type(1) {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .main__facts {
    margin-top: 158px;
  }

  .facts {
    width: 880px;
    height: 500px;
    display: block;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    position: relative;
  }

  .single-fact {
    width: 350px;
    height: 214px;
    position: absolute;
  }
  .single-fact__image {
    width: 104px;
  }
  .single-fact__title {
    margin-top: 16px;
    font-size: 2rem;
    line-height: 2.3rem;
  }
  .single-fact--first {
    top: 0;
    left: 0;
  }
  .single-fact--second {
    top: 0;
    right: 0;
    margin: 0;
  }
  .single-fact--third {
    bottom: 0;
    left: 0;
  }
  .single-fact--fourth {
    bottom: 0;
    right: 0;
  }
}
.main__productive {
  margin-top: 160px;
}

.productive {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productive__image {
  display: block;
  width: 304px;
}
.productive__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productive__title {
  margin-top: 48px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: bold;
  font-family: "Raleway";
}
.productive__description {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-top: 16px;
}
.productive__link {
  align-self: flex-start;
  margin-top: 16px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #65e2d9;
  height: 23px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid;
}
.productive__arrow {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

@media (min-width: 1024px) {
  .main__productive {
    margin-top: 137px;
  }

  .productive {
    width: 960px;
    height: 400px;
    flex-direction: row;
  }
  .productive__image {
    width: 470px;
  }
  .productive__content-wrapper {
    margin-left: 85px;
    align-items: flex-start;
  }
  .productive__title {
    margin: 0;
    font-size: 4rem;
    line-height: 5rem;
    text-align: left;
  }
  .productive__description {
    margin-top: 19px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 95%;
  }
  .productive__link {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 24px;
    transition: 0.3s;
  }
  .productive__link:hover {
    color: #fff;
    cursor: pointer;
  }
  .productive__arrow {
    margin-left: 11px;
    transition: 0.3s;
  }
  .productive__arrow-fill-prop {
    transition: 0.3s;
  }
  .productive__link:hover .productive__arrow-fill-prop {
    fill: #fff;
    box-shadow: 0px 0px 2px rgba(98, 224, 217, 0.811141);
  }
  .productive__link:hover .productive__arrow {
    transform: translateX(3px) scale(1.1);
  }
}
.main__comments {
  margin-top: 193px;
}

.comments {
  width: 280px;
  position: relative;
}
.comments__quotes {
  display: block;
  position: absolute;
  width: 32px;
  transform: translate(20%, -70%);
}
.comments__single-comment {
  min-height: 160px;
  width: 100%;
  background-color: #202a3c;
  padding: 24px 20px 21px 20px;
  margin-top: 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
}
.comments__single-comment:nth-of-type(1) {
  margin-top: 0;
}
.comments__content {
  font-size: 1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}
.comments__author-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.comments__author-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.comments__author-info {
  margin-left: 8px;
}
.comments__author-name {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.comments__author-company {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.5px;
}

.main__access {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.access {
  width: 336px;
  height: 353px;
  padding: 40px 28px 37px 28px;
  background-color: #1c2431;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "Raleway";
  font-weight: bold;
}
.access__content {
  margin-top: 16px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
}
.access__form {
  margin-top: 32px;
}
.access__email {
  width: 100%;
  border-radius: 24px;
  height: 48px;
  border: 0;
  padding: 19px 20px 15px 20px;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #c0c0c0;
}
.access__email::placeholder {
  color: #c0c0c0;
}
.access__email:focus {
  outline: 0;
}
.access__submit-btn {
  height: 48px;
  width: 100%;
  border-radius: 24px;
  color: #fff;
  border: 0;
  margin-top: 24px;
  background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

.footer {
  width: 100%;
  padding: 259px 28px 52px 28px;
  background-color: #0b1523;
}
.footer__content-wrapper {
  max-width: 319px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 108px;
}
.footer__contact {
  margin-top: 35px;
  width: 100%;
  min-height: 176px;
}
.footer__location, .footer__phone-contact, .footer__mail {
  display: flex;
}
.footer__location-pin-icon, .footer__phone-contact-icon, .footer__mail-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.footer__location-pin-icon:nth-of-type(1) {
  margin-right: 26px;
}
.footer__location-description, .footer__phone-number, .footer__mail-content {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer__phone-contact {
  margin: 16px 0 16px 0;
}
.footer__about-us-buttons {
  margin-top: 56px;
}
.footer__privacy-buttons {
  margin-top: 48px;
}
.footer__links-list {
  list-style: none;
}
.footer__link {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #fff;
  margin-top: 16px;
}
.footer__link--first {
  margin-top: 0;
}
.footer__socials {
  margin: 56px auto 0 auto;
}

.socials {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials__link {
  color: unset;
  cursor: pointer;
  display: block;
}
.socials__icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  transition: 0.3s;
}
.socials__icon:hover {
  color: #65e2d9;
  border-color: #65e2d9;
}

body {
  background-color: #181f2a;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
