*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: "Raleway";
}

.header {
  margin: 24px 24px 0 20px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 80px;
  height: 24px;
}
.header__navigation {
  flex-basis: 50%;
}
.header__menu {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: "Raleway";
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__image {
  display: block;
  width: 304px;
  height: 225px;
}
.intro__title {
  width: 320px;
  text-align: center;
  font-family: "Raleway";
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.6rem;
  margin-top: 33px;
}
.intro__description {
  width: 296px;
  margin-top: 15px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.intro__start-button {
  margin-top: 32px;
  width: 240px;
  height: 48px;
  color: #fff;
  background: linear-gradient(134.79deg, #63e1d9 -42.11%, #34a0cd 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

.main__intro {
  margin-top: 48px;
}

.main__facts {
  margin-top: 120px;
}

.facts {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-fact {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-fact__image {
  width: 80px;
}
.single-fact__title {
  margin-top: 24px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "Raleway";
  font-weight: bold;
}
.single-fact__description {
  margin-top: 8px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.1rem;
}

.single-fact:nth-of-type(1) {
  margin-top: 0;
}

.main__productive {
  margin-top: 160px;
}

.productive {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productive__image {
  display: block;
  width: 304px;
}
.productive__title {
  margin-top: 48px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: bold;
  font-family: "Raleway";
}
.productive__description {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-top: 16px;
}
.productive__link {
  display: block;
  align-self: flex-start;
  margin-top: 16px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #65e2d9;
  height: 23px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid;
}
.productive__arrow {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.main__comments {
  margin-top: 193px;
}

.comments {
  width: 280px;
  position: relative;
}
.comments__quotes {
  display: block;
  position: absolute;
  width: 32px;
  transform: translate(20%, -70%);
}
.comments__single-comment {
  min-height: 160px;
  width: 100%;
  background-color: #202a3c;
  padding: 24px 20px 21px 20px;
  margin-top: 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
}
.comments__single-comment:nth-of-type(1) {
  margin-top: 0;
}
.comments__content {
  font-size: 1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}
.comments__author-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.comments__author-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.comments__author-info {
  margin-left: 8px;
}
.comments__author-name {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.comments__author-company {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.5px;
}

.main__access {
  margin-top: 200px;
}

.access {
  width: 336px;
  height: 353px;
  padding: 40px 28px 37px 28px;
  background-color: #1c2431;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "Raleway";
  font-weight: bold;
}
.access__content {
  margin-top: 16px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
}
.access__form {
  margin-top: 32px;
}
.access__email {
  width: 100%;
  border-radius: 24px;
  height: 48px;
  border: 0;
  padding: 19px 20px 15px 20px;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #c0c0c0;
}
.access__email::placeholder {
  color: #c0c0c0;
}
.access__email:focus {
  outline: 0;
}
.access__submit-btn {
  height: 48px;
  width: 100%;
  border-radius: 24px;
  color: #fff;
  border: 0;
  margin-top: 24px;
  background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

body {
  background-color: #181f2a;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
