@use 'variables';

.main__access {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.access {
  width: 336px;
  height: 353px;
  padding: 40px 28px 37px 28px;
  background-color: variables.$introDarkBlue;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: 'Raleway';
    font-weight: bold;
  }

  &__content {
    margin-top: 16px;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
  }

  &__form {
    margin-top: 32px;
  }

  &__email {
    width: 100%;
    border-radius: 24px;
    height: 48px;
    border: 0;
    padding: 19px 20px 15px 20px;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #c0c0c0;
  }

  &__email::placeholder {
    color: #c0c0c0;
  }

  &__email:focus {
    outline: 0;
  }

  &__submit-btn {
    height: 48px;
    width: 100%;
    border-radius: 24px;
    color: variables.$white;
    border: 0;
    margin-top: 24px;
    background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  }
  &__error-msg {
    display: none;
    position: absolute;
    left: 30px;
    bottom: -25px;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__error-msg--visible {
    display: block;
  }
}

@media (min-width: 1024px) {
  .access {
    width: 750px;
    height: 275px;
    &__title {
      font-size: 3.2rem;
      line-height: 4.8rem;
    }
    &__content {
      width: 85%;
    }
    &__form {
      display: flex;
      justify-content: space-between;
      width: 90%;
      position: relative;
    }
    &__email {
      margin: 0;
      flex-basis: 60%;
      font-size: 1.6rem;
    }
    &__submit-btn {
      margin: 0;
      flex-basis: 30%;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: bold;
      position: relative;
    }
    &__submit-btn::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(#8adae3, #8adae3);
      transition: opacity 0.3s;
      border-radius: 24px;
      opacity: 0;
    }

    &__submit-btn::after {
      content: 'Start For Free';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &__submit-btn:hover::before {
      opacity: 1;
    }

    &__error-msg {
      display: none;
      position: absolute;
      left: 30px;
      bottom: -25px;
      color: red;
      font-size: 1.2rem;
      font-weight: bold;
    }
    &__error-msg--visible {
      display: block;
    }
  }
}
