.main__facts {
  margin-top: 120px;
}

.facts {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-fact {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    width: 80px;
  }

  &__title {
    margin-top: 24px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: 'Raleway';
    font-weight: bold;
  }

  &__description {
    margin-top: 8px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.1rem;
  }
}

.single-fact:nth-of-type(1) {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .main__facts {
    margin-top: 158px;
  }

  .facts {
    width: 880px;
    height: 500px;
    display: block;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    position: relative;
  }

  .single-fact {
    width: 350px;
    height: 214px;
    position: absolute;

    &__image {
      width: 104px;
    }

    &__title {
      margin-top: 16px;
      font-size: 2rem;
      line-height: 2.3rem;
    }

    &--first {
      top: 0;
      left: 0;
    }
    &--second {
      top: 0;
      right: 0;
      margin: 0;
    }
    &--third {
      bottom: 0;
      left: 0;
    }
    &--fourth {
      bottom: 0;
      right: 0;
    }
  }
}
