@use 'variables';

.main__comments {
  margin-top: 193px;
}

.comments {
  width: 280px;
  position: relative;

  &__quotes {
    display: block;
    position: absolute;
    width: 32px;
    transform: translate(20%, -70%);
  }

  &__single-comment {
    min-height: 160px;
    width: 100%;
    background-color: variables.$opinionsDarkBlue;
    padding: 24px 20px 21px 20px;
    margin-top: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
  }
  &__single-comment:nth-of-type(1) {
    margin-top: 0;
  }

  &__content {
    font-size: 1rem;
    line-height: 1.8rem;
    opacity: 0.8;
  }

  &__author-details {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__author-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &__author-info {
    margin-left: 8px;
  }

  &__author-name {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  &__author-company {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 1024px) {
  .main__comments {
    margin-top: 120px;
  }

  .comments {
    width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__quotes {
      top: 0;
      left: -2%;
      width: 50px;
      z-index: -999;
    }

    &__single-comment {
      flex-basis: 30%;
      height: 200px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 12px 20px;
    }
    &__content {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
    &__author-image {
      width: 34px;
      height: 34px;
    }
    &__author-name {
      font-size: 1.4rem;
    }
    &__author-company {
      font-size: 1.1rem;
      margin-top: 5px;
    }
  }
}
