@use 'variables';

.main__productive {
  margin-top: 160px;
}

.productive {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    display: block;
    width: 304px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-top: 48px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway';
  }

  &__description {
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-top: 16px;
  }

  &__link {
    align-self: flex-start;
    margin-top: 16px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: variables.$cyan;
    height: 23px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid;
  }

  &__arrow {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}

@media (min-width: 1024px) {
  .main__productive {
    margin-top: 137px;
  }

  .productive {
    width: 960px;
    height: 400px;
    flex-direction: row;

    &__image {
      width: 470px;
    }

    &__content-wrapper {
      margin-left: 85px;
      align-items: flex-start;
    }

    &__title {
      margin: 0;
      font-size: 4rem;
      line-height: 5rem;
      text-align: left;
    }
    &__description {
      margin-top: 19px;
      font-size: 1.6rem;
      line-height: 2.4rem;
      width: 95%;
    }
    &__link {
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-top: 24px;
      transition: 0.3s;
    }
    &__link:hover {
      color: #fff;
      cursor: pointer;
    }

    &__arrow {
      margin-left: 11px;
    }

    &__arrow-fill-prop {
      transition: 0.3s;
    }

    &__link:hover &__arrow-fill-prop {
      fill: #fff;
      box-shadow: 0px 0px 2px rgba(98, 224, 217, 0.811141);
    }
  }
}
